
**Comentario del Revisor**

Hola!

Soy Juan Manuel Romero, pero siéntete libre de llamarme Juanma. Soy code reviewer en Tripleten y hoy estaré revisando tu entrega.

Para simular la dinámica de un ambiente de trabajo, si veo algún error, en primer instancia solo los señalaré, dándote la oportunidad de encontrarlos y corregirlos por tu cuenta. En un trabajo real, el líder de tu equipo hará una dinámica similar. En caso de que no puedas resolver la tarea, te daré una información más precisa en la próxima revisión. 

Solo un aviso rápido: cuando estés revisando el proyecto, por favor deja mis comentarios originales tal como están. De esta manera, podemos seguir fácilmente el progreso y asegurarnos de que no se nos pase nada por alto. Y, si realizas algún cambio basado en mis comentarios, sería genial si pudieras resaltar esas actualizaciones para que se destaquen.

Puedes encontrar mis comentarios en cajas verdes, amarillas o rojas como estas:

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor</b> <a class="tocSkip"></a>

Éxito. Todo se ha hecho correctamente.

</div>


<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor</b> <a class="tocSkip"></a>

Observaciones. Algunas recomendaciones.

</div> 


<div class="alert alert-block alert-danger">
<b>Comentario del Revisor</b> <a class="tocSkip"></a>

Requiere corrección. El bloque requiere algunas correcciones. El trabajo no puede ser aceptado con los comentarios en rojo.

</div>

Puedes responderme usando esto:

<div class="alert alert-block alert-info"> <b>Respuesta del estudiante.</b> <a class="tocSkip"></a> </div>

In [38]:

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Felicidades Jai! Tu trabajo es excelente. 

Has completado todos los items necesarios para aprobar la entrega.

Sigue así!

</div>

SyntaxError: invalid syntax (4130130321.py, line 1)

### 1. Carga de Librerias

In [ ]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy import stats as st
from datetime import datetime

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Buen trabajo al separar la importación de bibliotecas de la carga de los datasets! Esto mejora la estructura y claridad de tu código.

</div>

In [ ]:

sns.set_style('whitegrid')
sns.set_palette('pastel')

### Carga de Dataset

In [ ]:
df_games = pd.read_csv('/Users/dave/Desktop/tripleten/datasets/Data_sets_sp6/games.csv')

### Revision de los Datos

In [ ]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [ ]:
df_games.duplicated().sum()

np.int64(0)

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Es genial que hayas verificado si había duplicados en el conjunto de datos y te hayas asegurado de que no hubiera ninguno.

</div>

In [ ]:
df_games.describe()

,Year_of_Release,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score
count,16446.000000,16715.000000,16715.000000,16715.000000,16715.000000,8137.000000
mean,2006.484616,0.263377,0.145060,0.077617,0.047342,68.967679
std,5.877050,0.813604,0.503339,0.308853,0.186731,13.938165
min,1980.000000,0.000000,0.000000,0.000000,0.000000,13.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,60.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,71.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,79.000000
max,2016.000000,41.360000,28.960000,10.220000,10.570000,98.000000

In [ ]:
df_games.head()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [ ]:
df_games.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

In [ ]:
df_games.notnull().sum()

Name               16713
Platform           16715
Year_of_Release    16446
Genre              16713
NA_sales           16715
EU_sales           16715
JP_sales           16715
Other_sales        16715
Critic_Score        8137
User_Score         10014
Rating              9949
dtype: int64

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Muy buen uso de métodos como _info_ y _head_ para la exploración de datos. Esto te permitió identificar rápidamente la estructura y posibles problemas de los datos.

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Recuerda dejar comentarios sobre tus análisis de los mismos. 

</div>

</div>

### 2.Limpieza de Datos

### 2.1 Remplazar nombres de Columnas

In [ ]:
#Cambio de nombres de las Columnas a minusculas.
columnas = df_games.columns
columns_minus = []
for columns_min in columnas:
    columns_minus.append(columns_min.lower())
df_games.columns = columns_minus
df_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Se ha realizado el ajuste en el nombre de las columnas de forma correcta. 

</div>

### 2.1 Tipos de Datos

In [ ]:
df_games.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [ ]:

df_games[df_games['user_score'] == 'tbd']
df_games['user_score'] = pd.to_numeric(df_games['user_score'], errors='coerce')

In [ ]:
df_games['user_score'].fillna(0, inplace=True)

/var/folders/4t/t1qvddyd1qd6kk4ys97ycd8c0000gn/T/ipykernel_20240/4119903504.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_games['user_score'].fillna(0, inplace=True)

In [ ]:
df_games['user_score'].isna().sum()

np.int64(0)

In [ ]:
df_games.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,0.0,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,0.0,NaN

In [ ]:
df_games['user_score'] = df_games['user_score'].astype('float')

Decidi cambiar el tipo de la colunma user_score de objeto a decimal para poder realizar los calculos necesarios.

In [ ]:
df_games.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,0.0,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,0.0,NaN

En primer lugar los valores TBD los cambie NaN para poder cambiarlos a 0, esto solo con el fin de poder realizar calculos si es necesario, ya que la cantidad en porcentaje es mino con respecto al total de los datos. Por eso decidi no hacer mas cambios.

In [ ]:
df_games['critic_score'].fillna(0, inplace=True)
df_games.head()

/var/folders/4t/t1qvddyd1qd6kk4ys97ycd8c0000gn/T/ipykernel_20240/1490129391.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_games['critic_score'].fillna(0, inplace=True)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,0.0,0.0,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,0.0,0.0,NaN

En la columna critic_score, primero remplace los NaN por 0 y al igual que con user_score no hice mas movimientos, ya que la cantidad es muy pequeña y no afecta en los calculos.

In [ ]:
df_games['year_of_release'] = df_games['year_of_release'].astype('float')

Se cambio el tipo de la columna year of release a decimal para facilitar los calculos.

In [ ]:
#calcular moda
print(df_games['year_of_release'].mode())

0    2008.0
Name: year_of_release, dtype: float64

In [ ]:
df_games['year_of_release'].fillna(0, inplace=True)

/var/folders/4t/t1qvddyd1qd6kk4ys97ycd8c0000gn/T/ipykernel_20240/4106241004.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_games['year_of_release'].fillna(0, inplace=True)

In [ ]:
df_games['year_of_release'].isna().sum()

np.int64(0)

In [ ]:
df_games['year_of_release'].replace(0, 2008.0, inplace=True)

/var/folders/4t/t1qvddyd1qd6kk4ys97ycd8c0000gn/T/ipykernel_20240/1164872347.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_games['year_of_release'].replace(0, 2008.0, inplace=True)

En la columna de year of release se calculo la moda, con ese dato se rellenaron los datos faltantes, se tomo esa decision ya que la cantidad de faltantes eran muy pocos, ademas que se necesitaba este dato para la manipulacion de la informacion.

In [ ]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     16715 non-null  float64
 9   user_score       16715 non-null  float64
 10  rating           9949 non-null   object
dtypes: float64(7), object(4)
memory usage: 1.4+ MB

In [ ]:
df_games['platform'].head()

0    Wii
1    NES
2    Wii
3    Wii
4     GB
Name: platform, dtype: object

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Cuidado! Reemplazar todos los faltantes con un único valor no siempre es correcto. En caso de hacerlo, hay que tener cuidado con el valor que se utiliza. 
    
Lo importante es que esté siempre bien justificado. Por qué crees que tal reemplazo es apropiado?

Soluciones válidas en este caso para manejar los nulos serían:

- Introducir un valor irreal que depende de la columna y su significado (-1, -999999, etc.).
- Dejar los huecos sin cambios.

Los valores de Year_of_release se pueden cambiar a cero o eliminarse. Por su parte, no hay mucho que se puede hacer con los valores nulos de critic_score y user_score, los cuales se pueden dejar a null.
    
</div>

### 2.2 Ventas Totales

In [ ]:
df_games['total_sales'] = df_games[['na_sales','eu_sales','jp_sales','other_sales']].sum(axis=1)
df_games

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E,82.54
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,0.0,0.0,NaN,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E,35.52
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E,32.77
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,0.0,0.0,NaN,31.38
...,...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,0.0,0.0,NaN,0.01
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,0.0,0.0,NaN,0.01
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,0.0,0.0,NaN,0.01
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.0,0.0,NaN,0.01
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,0.0,0.0,NaN,0.01

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Muy buen trabajo calculando las ventas totales.

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Otra forma de hacerlo es de la siguiente manera:

	data['total_sales']=data[['na_sales','eu_sales','jp_sales','other_sales']].sum(axis=1)

</div>

</div>

### 3. Analisis de Datos

In [ ]:
print(df_games['year_of_release'].min())
print(df_games['year_of_release'].max())

df_year_of_release = df_games['year_of_release'].value_counts().sort_index()

### 3.1 Juegos Lanzados

In [ ]:
df_year_of_release

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Recuerda utilizar gráficos para mostrar los resultados. Por ejemplo, aquí podrías utilizar un gráfico de barras y quedaría mucho más claro el patrón.

</div>

In [ ]:
def era_group(year):
    if year < 2000:
        return 'begin'
    elif year < 2011:
        return 'trendy'
    else:
        year >= 2016
        return 'current'
df_games['era_group'] = df_games['year_of_release'].apply(era_group)
print(df_games['era_group'].value_counts())
df_games.head()

### 3.2. Ventas por Plataforma

In [ ]:
df_games.groupby('platform')['total_sales'].sum().sort_values(ascending=False)

In [ ]:

ventas_por_plataforma = df_games.groupby('platform')['total_sales'].sum()
platform_mayor_ventas = ventas_por_plataforma[ventas_por_plataforma > 729].index.tolist()
platform_mayor_ventas

In [ ]:

platform_high = df_games[df_games['platform'].isin(platform_mayor_ventas)]
platform_high_sales = platform_high.groupby(['platform', 'year_of_release'])['total_sales'].sum().reset_index()
platform_high_sales

In [ ]:

scores_by_platform = df_games.groupby('platform')[['critic_score', 'user_score', 'total_sales']].mean().sort_values(by='total_sales', ascending=False)
scores_by_platform

In [ ]:
scores_by_platform.describe()

In [ ]:

platform_apere_desaper = df_games.groupby('platform').agg(

    min_date=('year_of_release', 'min'),
    max_date=('year_of_release', 'max')
)
platform_apere_desaper['years_life'] = platform_apere_desaper['max_date'] - platform_apere_desaper['min_date']
platform_apere_desaper

In [ ]:
platform_apere_desaper.describe()

Las Plataformas tienen un periodo de vida en promedio de 9 años.

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Realizas un análisis correcto del ciclo de vida de las consolas. 

</div>

### 3.3. Eleccion de Periodo

In [ ]:
recent_sales = df_games[df_games['year_of_release'] >= 2008]
recent_sales

In [ ]:
plt.figure(figsize=(15,10))
sns.lineplot(data=recent_sales, x='year_of_release', y='total_sales', hue='platform', ci=None)
plt.title('Ventas mas Recientes')
plt.xlabel('Años')
plt.ylabel('Ventas Totales')
plt.show()

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

El gráfico muestra claramente la evolución de las ventas anuales por plataforma. Las conclusiones asociadas se presentan claramente. 

</div>

Se eligio el periodo del 2008 al 2016 para contruir el modelo para el 2017. En base a los años promedio de vida de las plataformas. Asi tener un base robusta de datos.

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

No es común utilizar datos de más de 2-3 años al hacer una proyección de ventas para el próximo año, incluso en negocios tradicionales. En la dinámica industria de los videojuegos, tomar intervalos de tiempo más largos debería evitarse, ya que definitivamente conducirá a rastrear tendencias obsoletas. Pero tampoco deberías tomar un período demasiado corto.

</div>

### 3.4. Trabajar los Datos Considerados

In [ ]:

sales_period_2008_2016 = recent_sales.groupby('platform')['total_sales'].sum().sort_values(ascending=False)
sales_period_2008_2016.head()

### 3.5. ¿Plataformas lideres en Ventas?

In [ ]:

better_platform_2008_2016 = sales_period_2008_2016[sales_period_2008_2016 > 314].index.tolist()
better_platform_2008_2016

### 3.5.1. ¿Plataformas mas Rentables?

In [ ]:

platform_better_rentable = df_games[df_games['platform'].isin(better_platform_2008_2016)]
platform_better_rentable_2008_2016 = platform_better_rentable.groupby(['platform', 'year_of_release'])['total_sales'].sum().reset_index()
platform_better_rentable_2008_2016

Las Platafromas mas rentables: XOne, 3DS, X360, PS3 y PS4.

In [ ]:
sns.lineplot(data=platform_better_rentable_2008_2016, x='year_of_release', y='total_sales', hue='platform')
plt.title('Plataformas Mas Rentables')
plt.xlabel('Años de Lanzamiento')
plt.ylabel('Ventas Totales')
plt.show()

### 3.5.2. ¿Plataformas menos Rentables?

In [ ]:

last_platform_2008_2016 = sales_period_2008_2016[sales_period_2008_2016 < 314].index.tolist()
last_platform_2008_2016

In [ ]:

platform_last_rentable = df_games[df_games['platform'].isin(last_platform_2008_2016)]
platform_last_rentable_2008_2016 = platform_last_rentable.groupby(['platform', 'year_of_release'])['total_sales'].sum().reset_index()
platform_last_rentable_2008_2016

In [ ]:
sns.lineplot(data=platform_last_rentable_2008_2016, x='year_of_release', y='total_sales', hue='platform')
plt.title('Plataformas Menos Rentables')
plt.xlabel('Años de Lanzamiento')
plt.ylabel('Ventas Totales')
plt.show()

Las Plataformas menos rentables: WiiU, PC, PSV, Wii, DS y PSP

### 3.6. Diagrama de Caja Ventas Globales.

In [ ]:

plt.figure(figsize=(15, 8))
sns.boxplot(data=recent_sales, x='platform', y='total_sales')
plt.ylim(0, 5)
plt.title('Ventas globales por Plataforma')
plt.xlabel('Plataformas')
plt.ylabel('Ventas Globales')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

Plataformas como PS2, X360 y PS3 lideran en ventas totales, mientras que GB y NES destacan en ventas medias por juego. La diferencia entre ventas totales y medias indica que algunos títulos exitosos impulsan significativamente las ventas totales, más que un rendimiento consistente en todos los juegos.

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>


El plot es excelente! Aunque podrías profundizar mucho más tu análisis.

Un **boxplot** (o diagrama de caja y bigotes) es una herramienta gráfica que permite visualizar la distribución de un conjunto de datos de manera eficiente. Sus principales beneficios son:

1. **Resumir la distribución de los datos** → Muestra la mediana, cuartiles y valores extremos de un conjunto de datos de forma compacta.
2. **Detectar outliers fácilmente** → Los valores atípicos quedan representados fuera de los "bigotes", facilitando su identificación.
3. **Comparar distribuciones** → Útil para analizar cómo varían los datos entre diferentes categorías o grupos.
4. **Mostrar asimetría y dispersión** → Permite observar si los datos están sesgados y qué tan dispersos están.
5. **Resistencia a valores extremos** → No se ve tan afectado por outliers como otras visualizaciones, como histogramas o medias.

</div>

### 3.7. Correlacion de las Reseñas de Criticos y Usuarios vs Ventas Totales.

In [ ]:
platform_pop = df_games[df_games['platform'] == 'PS4']
corr_plat_pop = platform_pop[['user_score', 'critic_score', 'total_sales']].corr()
corr_plat_pop

In [ ]:
sns.heatmap(corr_plat_pop, annot=True, cmap="coolwarm")
plt.title('Correlacion de Puntuacion de Critico y Usuario vs Ventas Totales')
plt.show()

Se tomo la desicion de elegir la plataforma PS4 debido a que es la que tiene un mejor margen de ventas de manera reciente, asi como un mayor margen de rentabilidad.

In [ ]:

sns.scatterplot(x='critic_score', y='total_sales', data=df_games[df_games['platform'] == 'PS4'])
plt.title('Correlacion Reseñas de Profesionales vs Vental Totales')
plt.xlabel('Reseñas')
plt.ylabel('Ventas Totales')
plt.show()

In [ ]:

sns.scatterplot(x='user_score', y='total_sales', data=df_games[df_games['platform'] == 'PS4'])
plt.title('Correlacion Reseñas de Usuarios vs Vental Totales')
plt.xlabel('Reseñas')
plt.ylabel('Ventas Totales')
plt.show()

En conclusion los potenciales compradores cuando van a tomar una desicion en la compra de una plataforma consideran en mayor proporción la critica de los profesionales ya que es un analisis en base al funcionamiento en general de la plataforma. En contraperte la critica de l usuario no influye mucho en dicha desición ya que puede ser cuestion de gustos y no un analizis imparcial.

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Tal cual. Podemos ver una correlación positiva para las reseñas de los críticos, es decir, un puntaje más alto generalmente trae más ingresos. Sin embargo, la correlación entre el puntaje de los usuarios y los ingresos es casi cero, lo que significa que los ingresos por ventas no se ven muy afectados por la opinión de los usuarios.

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Si ves el valor numérico de la correlación, este estará afectado por los 0 que has imputado al comienzo del proyecto. Aquí se ve el impacto que tienen todas las decisiones que tomamos ;)

</div>
    
</div>

### 3.8. Comparacion de las Ventas de un Mismo Juegos en las Diversas Plataformas.

In [ ]:
game_platform_sales = df_games.groupby('name').agg(
    total_sales=('total_sales', 'sum'),
    platform_count=('platform', 'nunique')
).reset_index()

multiplatform_games = game_platform_sales[game_platform_sales['platform_count'] > 1]
top_5_multiplatform_games = multiplatform_games.sort_values(by='total_sales', ascending=False).head(5)
top_5_multiplatform_games

In [ ]:
top_5_multiplatform_game_names = top_5_multiplatform_games['name'].tolist()
top_5_games_sales_data = df_games[df_games['name'].isin(top_5_multiplatform_game_names)]

In [ ]:
#plt.figure(figsize=(18, 10))
sns.barplot(data=top_5_games_sales_data, x='name', y='total_sales', hue='platform', palette='tab10')
plt.title('Ventas Totales del Top 5 de Videojuegos en las Diferentes Plataformas')
plt.xlabel('Videojuego')
plt.ylabel('Ventas Totales (en millones)')
plt.xticks(rotation=45, ha='right')
plt.legend(title='Platform', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

Las ventas de juegos multiplataforma varían significativamente entre plataformas, influenciadas por factores como la base de usuarios, el momento del lanzamiento y la preferencia del género. Ejemplos incluyen Grand Theft Auto V en PS3/X360, Super Mario Bros. en NES y Tetris en GB. En la grafica de barras se puede observar este comportamiento.

### 3.9. Distribución de los Juegos vs Genero.

In [ ]:
df_games['genre'].unique()

In [ ]:
df_games['genre'] = df_games['genre'].fillna('Unknown')

In [ ]:
df_games['genre'].unique()

In [ ]:
plt.figure(figsize=(15, 8))
sns.boxplot(data=df_games, x='genre', y='total_sales')
plt.ylim(0, 5)
plt.title('Ventas globales por Plataforma')
plt.xlabel('Juegos')
plt.ylabel('Ventas Globales')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

game_vs_genre = df_games.groupby('genre').agg(

    avg_sales=('total_sales', 'mean'),
    sum_sales=('total_sales', 'sum'),
    count_sales=('total_sales', 'count')
).sort_values(by='avg_sales', ascending=False)
game_vs_genre

In [ ]:

sns.barplot(x=game_vs_genre.index, y=game_vs_genre['sum_sales'], palette='viridis')
plt.title('Ventas Totales por Genero del Videojuego')
plt.xlabel('Genero')
plt.ylabel('Ventas Totales (en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sns.barplot(x=game_vs_genre.index, y=game_vs_genre['avg_sales'], palette='viridis')
plt.title('Venta Promedio del Videojuego por Genero')
plt.xlabel('Genero')
plt.ylabel('Ventas Promedio(en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

La rentabilidad de un género no solo depende de la calidad de sus juegos, sino también de la frecuencia de lanzamientos, el tamaño de su audiencia y la presencia de franquicias influyentes. Las ventas totales indican el volumen general del mercado, mientras que las ventas promedio pueden ser un mejor indicador de la calidad y el éxito por juego dentro de un género específico. El género 'Unknown' aparece con el `avg_sales` más alto (1.210) pero en `sum_sales` y `count_sales` muy bajos. Esto se debe a que solo hay dos juegos en esta categoría, y si uno o ambos tuvieron ventas elevadas, infla desproporcionadamente el promedio. Es importante recordar que un promedio basado en una muestra tan pequeña no es representativo.

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Todos los gráficos y conclusiones son correctos. 

</div>

### 4. Crea un Perfil de Usuario para cada Region.

### 4.1. Ventas en las Regiones por Plataformas.

In [ ]:

sales_na = recent_sales.groupby('platform')['na_sales'].sum().sort_values(ascending=False)
sales_na.head().reset_index()

In [ ]:
sns.barplot(x=sales_na.index, y=sales_na.values, palette='flare')
plt.title('Ventas en Norte America por Plataforma')
plt.xlabel('Plataforma')
plt.ylabel('Ventas en Norte America por Plataforma(en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_eu = recent_sales.groupby('platform')['eu_sales'].sum().sort_values(ascending=False)
sales_eu.head().reset_index()

In [ ]:
sns.barplot(x=sales_eu.index, y=sales_eu.values, palette='viridis')
plt.title('Venta en Europa por Plataforma')
plt.xlabel('Plataforma')
plt.ylabel('Ventas Europa(en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_jp = recent_sales.groupby('platform')['jp_sales'].sum().sort_values(ascending=False)
sales_jp.head().reset_index()

In [ ]:
sns.barplot(x=sales_jp.index, y=sales_jp.values, palette='pastel')
plt.title('Ventas en Japon por Plataforma')
plt.xlabel('Plataforma')
plt.ylabel('Ventas en Japon(en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_other = recent_sales.groupby('platform')['other_sales'].sum().sort_values(ascending=False)
sales_other.head().reset_index()

Lo que podemos observar es que aunque en las 3 regiones hay 2 platafromas que coinciden (PS3 y Wii), pero su distribución en cuanto a ventas es diferente. Otra observación en la región de japon son inferiores con respecto a las otras 2 regiones.

### 4.2. Ventas de los principales Generos por Regrion.

In [ ]:

sales_period_2008_2016_genre = recent_sales.groupby('genre')['total_sales'].sum().sort_values(ascending=False)
sales_period_2008_2016_genre.head().reset_index()

In [ ]:
sales_na_genre = recent_sales.groupby('genre')['na_sales'].sum().sort_values(ascending=False)
sales_na_genre.head().reset_index()

In [ ]:
sns.barplot(x=sales_na_genre.index, y=sales_na_genre.values, palette='viridis')
plt.title('Ventas en Norte America por Genero')
plt.xlabel('Genero')
plt.ylabel('Ventas en Norte America por Genero(en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_eu_genre = recent_sales.groupby('genre')['eu_sales'].sum().sort_values(ascending=False)
sales_eu_genre.head().reset_index()

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Al analizar plataformas y géneros, todo lo que no esté incluido en el TOP-5 podría combinarse en "otros", para que la imagen del análisis sea más completa.

</div>

In [ ]:
sns.barplot(x=sales_eu_genre.index, y=sales_eu_genre.values, palette='pastel')
plt.title('Venta en Europa por Genero')
plt.xlabel('Genero')
plt.ylabel('Ventas en Europa por Genero (en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_jp_genre = recent_sales.groupby('genre')['jp_sales'].sum().sort_values(ascending=False)
sales_jp_genre.head().reset_index()

In [ ]:
sns.barplot(x=sales_jp_genre.index, y=sales_jp_genre.values, palette='flare')
plt.title('Venta en Japon por Genero')
plt.xlabel('Genero')
plt.ylabel('Ventas en Japon por Genero (en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_other = recent_sales.groupby('genre')['other_sales'].sum().sort_values(ascending=False)
sales_other.head().reset_index()

Lo que podemos observar es que en las regiones de NA(Norte America) y EU(Europa) tienen la misma distribucion en el top 5 de los generos (Action, Shooter, sports, Misc y Role-Playing), pero con diferentes ventas por cada genero. Para la region de JP(Japon), cambia un gero de preferencia Adventure por Shooter, la distibucion es diferente y las ventas son menores en comparacion a las otras 2 regiones. un factor de las diferencias puede ser por cultura, tradiciones y forma de vida.

### 4.3. Ventas afectadas por el Ranking.

In [ ]:

sales_region_rating = recent_sales.groupby('rating')['total_sales'].sum().sort_values(ascending=False)
sales_region_rating.head().reset_index()

In [ ]:

sales_na_rating = recent_sales.groupby('rating')['na_sales'].sum().sort_values(ascending=False)
sales_na_rating.head().reset_index()

In [ ]:
sns.barplot(x=sales_na_rating.index, y=sales_na_rating.values, palette='pastel')
plt.title('Venta en Norte America por Rating')
plt.xlabel('Rating')
plt.ylabel('Ventas en Norte America por Rating (en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_eu_rating = recent_sales.groupby('rating')['eu_sales'].sum().sort_values(ascending=False)
sales_eu_rating.head().reset_index()

In [ ]:
sns.barplot(x=sales_eu_rating.index, y=sales_eu_rating.values, palette='flare')
plt.title('Venta en Europa por Rating')
plt.xlabel('Rating')
plt.ylabel('Ventas en Europa por Rating (en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_jp_rating = recent_sales.groupby('rating')['jp_sales'].sum().sort_values(ascending=False)
sales_jp_rating.head().reset_index()

In [ ]:
sns.barplot(x=sales_jp_rating.index, y=sales_jp_rating.values, palette='viridis')
plt.title('Venta en Japon por Rating')
plt.xlabel('Rating')
plt.ylabel('Ventas en Japon por Rating (en millones)')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

sales_other_rating = recent_sales.groupby('rating')['other_sales'].sum().sort_values(ascending=False)
sales_other_rating.head().reset_index()

En cuanto a volumen de ventas tanto Norteamerica como Europa estan en un rango cercano, y con una variacion en sus rating, siendo E y M el rating con mas ventas, nuevamenre Japon tiene diferente distibucion en sus ratings y esus ventas estan significativamente por debajo de las otras 2 regiones.

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

El análisis realizado por cada región está muy bien fundamentado. Además, los resultados se presentan de forma clara y ordenada, lo que facilita la comprensión de la información. Esto permite identificar rápidamente las diferencias y similitudes entre cada región, y contribuye a un mejor entendimiento de los patrones generales. 


</div>

### 5. Prueba de Hipotesis.

### 5.1. Calificacion de los Usuarios para las Plataformas Xbox One y PC.


Hipótesis Nula (H0): Las Califaciones de los usuarios para las plataformas Xbox One y PC son las mismas.

Hipótesis Alternativa (H1): Las Calificaciones de los usuarios para las plataformas Xbox One y PC son diferentes.

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Has definido correctamente las hipótesis.

</div>

In [ ]:

alpha = 0.5
df_xbox_one = df_games[df_games['platform'] == 'XOne']['user_score']
df_pc = df_games[df_games['platform'] == 'PC']['user_score']
results = st.ttest_ind(df_xbox_one, df_pc)
print('valor p:', results.pvalue)
if results.pvalue < alpha:
    print('Rechazamos la hipótesis Nula')
else:
    print('No podemos Rechazar la hipótesis Nula')

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>

Al realizar una prueba de hipótesis, es muy importante verificar los supuestos. El t-test que usaste funciona bien cuando se cumplen ciertos supuestos, como que las varianzas de ambos grupos (sábados lluviosos y no lluviosos) sean similares. Puedes realizar la prueba de levene para comprobar que los dos grupos tienen la misma varianza y, de esta forma, podrás saber el valor del parámetro equal_var que se debe utilizar en la función stats.ttest_ind.

</div>

### 5.2. Calificación de los Usuarios para los Generos Acción y Deportes.

Hipótesis Nula (H0): Las Califaciones de los usuarios para los generos Acción y Deportes son diferentes.

Hipótesis Alternativa (H1): Las Calificaciones de los usuarios para los Generos Acción y Deportes son iguales.

In [ ]:

alpha = 0.5
df_accion = df_games[df_games['genre'] == 'Action']['user_score']
df_deportes = df_games[df_games['genre'] == 'Sports']['user_score']
results = st.ttest_ind(df_accion, df_deportes)
print('valor p:', results.pvalue)
if results.pvalue < alpha:
    print('Rechazamos la hipótesis Nula')
else:
    print('No podemos Rechazar la hipotesis Nula')

Tome como base los enunciados de la instrucciones para tomarlos como mis hipótesis nulas, las hipótesis alternativas es lo contrario a la nula.

Se utilizó st.ttest_ind porque las muestras de puntuaciones de usuario para los juegos de Xbox One y PC, asi como para los generos Acción y Deportes son independientes. Esto significa que los datos de un grupo no están relacionados de ninguna manera con los datos del otro grupo. Por ejemplo, los usuarios de Xbox One son diferentes a los usuarios de PC, y sus puntuaciones no están emparejadas individualmente.

<div class="alert alert-block alert-success"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>
Los resultados obtenidos son coherentes con lo esperado. Muy buen trabajo aplicando las pruebas de hipótesis!

<div class="alert alert-block alert-warning"> 
<b>Comentario del Revisor #1</b> <a class="tocSkip"></a>
He notado que hay fragmentos de código repetidos en ambos procesos. Sería recomendable encapsularlos en funciones para mejorar la reutilización y mantener un código más limpio y modular.
</div>

</div>

### 6. Conclusion General.

El análisis exhaustivo de los datos de ventas de videojuegos ha revelado tendencias y dinámicas importantes en el mercado, tanto a nivel de plataforma como de género, así como la interacción entre juego y plataforma.

### Hallazgos Importantes:

1.  **Dominio Histórico de Plataformas Antiguas**: Plataformas como PS2, X360 y PS3 demostraron un volumen de ventas totales históricamente elevado, lo que refleja su larga vida útil y la vasta cantidad de títulos lanzados. Sin embargo, algunas plataformas más antiguas pero con menos títulos (ej. GB, NES) mostraron ventas promedio por juego excepcionalmente altas, lo que sugiere el impacto de juegos icónicos y de gran éxito individual.

2.  **Variación en Ventas de Juegos Multiplataforma**: La popularidad de un mismo juego varía significativamente entre diferentes plataformas. Ejemplos como `Grand Theft Auto V` muestran cómo el momento del lanzamiento y la base de usuarios de una consola pueden influir drásticamente en el rendimiento de ventas, con picos en plataformas como PS3 y X360 en su momento.

3.  **Rentabilidad por Género**: Los géneros **Action**, **Sports** y **Shooter** lideran en ventas totales, lo que indica su amplia aceptación y el gran volumen de lanzamientos. En términos de rentabilidad por juego (ventas promedio), los géneros **Platform**, **Shooter** y **Role-Playing** se destacan, sugiriendo que, aunque no siempre tienen la mayor cantidad de títulos, los juegos individuales en estas categorías suelen ser muy exitosos. Los géneros **Adventure** y **Strategy** mostraron ser menos rentables en ambos aspectos.

4.  **Diferencias en Percepción de Usuarios**: Se encontró una diferencia estadísticamente significativa en las puntuaciones de usuario entre los juegos de **Xbox One** y **PC**. Esto sugiere que las comunidades de jugadores en estas plataformas pueden tener preferencias o expectativas diferentes, lo que influye en cómo valoran los juegos.

### Implicaciones Generales:

*   **Longevidad vs. Éxito Individual**: El éxito total de una plataforma a menudo se construye sobre una larga historia y un gran catálogo, mientras que el éxito promedio por juego puede estar más relacionado con la calidad intrínseca o el impacto cultural de títulos específicos.
*   **Importancia del Contexto de Plataforma**: Para juegos multiplataforma, es crucial entender la audiencia y las tendencias de cada plataforma para optimizar las estrategias de lanzamiento y marketing. No todos los éxitos se replican de la misma manera en todas partes.
*   **Segmentación del Mercado por Género**: Si bien algunos géneros tienen un atractivo masivo, otros, aunque de nicho, pueden ser muy rentables si los títulos son de alta calidad. La comprensión de estas dinámicas es vital para el desarrollo y la inversión en juegos.
*   **Experiencia del Usuario Específica de la Plataforma**: Las diferencias en las puntuaciones de usuario entre plataformas destacan la importancia de adaptar la experiencia del juego y su lanzamiento a las expectativas y características de la base de jugadores de cada sistema.